li {
  padding: 5px;
  margin: 5px;
  background: #e4caa8;
  
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.hamIcon {
  color: #d0975e;
  font-size: .8em;
}

h1 {
  text-align: center;
}